.z-mv-hot {
    margin-right: 10rem;
    margin-left: 10rem;
}

.title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.box-mv {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 0.5rem;
}

.mv-active {
    width: 600px;
    height: 300px;
    background-color: green;
    margin-right: 10px;
    max-width: 700px;
    position: relative;
}

/*.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}*/

.image {
    width: 100%;
    height: 100%;
}


/*.play {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 0;
}*/

.infor {
    position: absolute;
    bottom: 0;
}
.box-1 {
    width: 300px;
    height: 300px;
    background-color: gray;
    margin: 0px 10px;
}

.box-2 {
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin-left: 10px;
}