*{padding: 0; margin: 0}

body {
    font-family: Roboto,sans-serif;
}

/*header .z-top-bar {
    height: 124px;
}*/

input[type=text] {
 outline: none;
}

.form-search {
    width: 100%;
   
}

input.form-search {
    font-size: 1rem;
    padding: 4px;
    border: 1px solid #ced4da;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
 
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    justify-content: center;
}

div#z-top-bar {
    justify-content: space-between;
    max-width: 1026px;
}

.z-logo {
    background-image: url("https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/logo-mp-3.svg");
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 32px;
    background-size: cover;
    font-size: 0;
    z-index: 2;
}

.wrap {
    display: flex;
    align-items: center;
}

form.form-inline.input-group.search.flex-nowrap {
    width: 50%;
}

input.form-control {
    border-left: none;
    padding: 0;
    font-size: 14px;
}

.input-group-text {
    background: white;
    border-right: none;
    cursor: pointer;
}


.card-info {
    display: flex;
    align-items: center;
}

img.rounded-circle {
    width: 35px;
}

.extension {
    margin-left: 45px;
    box-sizing: border-box;
}

a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #32323d;
}

a:hover {
    color: #6e55b4;
    text-decoration: none;
}

.z-menu-dropdown {
    display: flex;
    justify-content: center;
}

ul.nav.navbar-nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0.2rem;
    z-index: 99;
}

nav.navbar.menu-dropdown {
    width: 1026px;
    padding: 0;
}

li.nav-item {
    display: inline-block;
    padding: 10px 0px;
    margin-right: 25px;
    cursor: pointer;
    width: auto;
    height: 100%;
}

li.nav-item a {
      text-transform: uppercase;
}
li.nav-item:hover .drop-down {
    opacity: 1;
    visibility: visible;
    border-top: 3px solid #6e55b4;
}

.drop-down.padd-bott-10.padd-top-10 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    background-color: #fcfcfc;
    max-width: 800px;
    /* width: 100%; */
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.drop-down .title-group {
    font-weight: 700;
    font-size: 14px;
    padding: 15px 0px;
    line-height: normal;
    text-transform: uppercase;
}

li.item {
    list-style: none;
}

.tbl-col {
    width: 150px;
    padding: 0px 15px;
    float: left;
}

ul.list-group {
    padding: 5px 0px;
}

.padd-bott-10 {
    padding-bottom: 10px!important;
} 
.padd-top-10 {
    padding-top: 10px!important;
}

ul.list-group li.item {
    padding: 5px 0px
}

ul.list-group li.item:hover {
    color: #6e55b4;
    background-color: #efefef;
}

/*Bắt đầu slide*/
.slider-main {
    display: flex;
    justify-content: center; 
}

.billboard-z .billboard .dang-nhap {
    border: 0;
    padding: 0.4rem 0.9rem;
    line-height: 24px;
    border-radius: 0.5rem;
    background-color: #fdd100;
    color: #ffff;
    font-size: 1rem;
    box-sizing: border-box;
}

.billboard-z {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 1rem;
}

.billboard {
    background-image: url("https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/banner-bg.svg");
    height: 74px;
    border-radius: 2px;
    height: 70px; 
    color: #ffff;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

.billboard-z .billboard .dang-nhap:hover {
    background-color: #fcfcfc;
    border-color: #fcfcfc;
    color: #6e55b4;
}

.logo {
    padding: 1rem;
    padding-left: 2rem;
}

a.dang-nhap {
    padding: 1rem;
    margin: 1rem;
    margin-right: 2rem;
}


/*Main*/

.z-float-header {
    margin-top: 40px;
}

.col-album {
    max-width: 190px;
    margin-left: 10px;
    margin-right: 10px;
}



.album-cover img {
    height: 190px;
    width: 190px;

}

.album-cover {
    position: relative;
    transition: 5s ease; 
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.play {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play i {
    font-size: 50px;
    color: white; 
    opacity: 0;
}

.album-cover:hover .overlay {
    display: block;
}

.album-cover:hover .play i {
    opacity: 1;
}

.z-box-title {
    font-size: 24px;
    font-weight: 700;
    color: #32323d;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.z-title {
    font-size: 14px;
    font-weight: 500;
    color: #32323d;
    line-height: 1.45;
    margin: 8px 0 3px;
    text-transform: capitalize;
}

.box-album {
    display: flex;
}



